.product-image-container {
    height: 80px;
    background-color: #0282F9;
    position: relative;
    .top-left-image-container{
        border: 1px solid white;
        bottom: 30px;
        left: 23%;
        p {
            background-color: #00A9D9;
            color: white;
            font-size: 0.8em;
            padding: 0.2em;
        }
        .comic-p {
            top: 0;
            left: 0;
        }
        .view-p {
            width: 100%;
            text-align: center;
            bottom: 0;
            left: 0;
        }
    }
}
.container-55.d-flex {
    align-items: start;
    padding: 2em 0;
}
.product-top-container {
    padding: 4em 0;
    align-items: start;
    .product-info {
        h1 {
            padding: 0.8em 0;
            text-transform: uppercase;
            font-size: 1.8em;
            color: #003F5E;
        }
        .green-bar {
            background-color: #55BA59;
            border-bottom: 1px solid black;
            font-weight: bold;
            font-size: 0.9em;
            .green-bar-left {
                justify-content: space-between;
                padding: 0.9em 1.5em;
                border-right: 1px solid black;
                p {
                    color: #BAFD93;
                    span {
                        color: white;
                    }
                }
            }
            .green-bar-right {
                text-align: center;
                color: white;
            }
        }
        
    }
    .product-info-description {
        color: #6D7276;
        line-height: 2em;
        font-weight: bold;
        font-size: 0.9em;
        padding: 1em 0;
    }
    .adv-container {
        padding: 1em 0 1em 2em;
        p {
            text-align: right;
            font-size: 0.9em;
            color: #6D7276;
            font-weight: bold;
        }
        img {
            width: 100%;
        }
    }
}
.product-bottom-container {
    background-color: #F6F6F6;
    border-top: 1px solid #E3E3E3;
    color: #003F80;
    font-weight: bold;
    font-size: 0.8em;
    h2 {
        padding-bottom: 1em;
    }
    .talent-box{
        padding-right: 2em;
        .artists {
            a {
                text-decoration: none;
                font-weight: bold;
                color: #67C7EA;
            }
        }
        .talent-box-artby{
            padding: 0.7em 0;
            align-items: start;
            border-top: 1px solid #E3E3E3;
        }
        .talent-box-writtenby {
            padding: 0.7em 0;
            align-items: start;
            border-top: 1px solid #E3E3E3;
            border-bottom: 1px solid #E3E3E3;
        }
    }
    .specs-box {
        padding-left: 2em;
        div {
            padding: 0.7em 0;
            align-items: start;
            border-top: 1px solid #E3E3E3;
        }
        .specs-box-series{
            p:last-child{
                color: #67C7EA;
                text-transform: uppercase;
            }
        }
        .specs-box-price{
            p:last-child{
                color: black;
            }
        }
        .specs-box-sale {
            border-bottom: 1px solid #E3E3E3;
            p:last-child{
                color: black;
            }
        }
    }
}
