@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;

700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Raleway", sans-serif;
}

.w-20 {
  width: 20%;
}

.container-80 {
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.header-blue {
  background-color: #0282F9;
}

.header-blue-bar {
  padding: 0.2em 0;
  font-size: 0.8em;
  color: white;
}

.header-blue-bar .visa {
  width: 79%;
  display: inline-block;
  text-align: right;
  padding-right: 1em;
}

.header-blue-bar .additional {
  width: 20%;
  display: inline-block;
}

.header-nav {
  align-items: center;
  justify-content: space-between;
}

.header-nav .logo-container {
  padding: 0.5em;
}

.header-nav-list ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header-nav-list ul li {
  padding: 0 0.5em;
}

.header-nav-list ul li a {
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 2em 0;
  border-bottom: 5px solid white;
}

.header-nav-list ul li a:hover,
.header-nav-list ul li a:active,
.header-nav-list ul li a.active {
  color: #0282F9;
  border-bottom: 5px solid #0282F9;
}

