@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Raleway", sans-serif;
}

.p-absolute {
  position: absolute;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.container-55 {
  width: 55%;
  margin: 0 auto;
}

.container-70 {
  width: 70%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.jumbotron {
  height: 400px;
  width: 100%;
  background-image: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.jumbotron .current-series {
  position: absolute;
  bottom: -15px;
  left: 15%;
  background-color: #0282F9;
  padding: 0.5em 1em;
}
.jumbotron .current-series p {
  text-transform: uppercase;
  color: white;
}

main {
  color: white;
}
main .top {
  flex-direction: column;
  align-items: center;
  background-color: #1C1C1C;
}
main .top .container-70 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
}
main .top .container-70 p {
  font-size: 1.3em;
}
main .top .container-70 .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc(16.6666666667% - 0.4em);
}
main .top .container-70 .card .wrapper {
  display: flex;
  flex-direction: column;
}
main .top .container-70 .card h2 {
  font-size: 0.5em;
  text-transform: uppercase;
  width: 150px;
}
main .top .container-70 .card .product {
  margin: 0.2em;
  height: 150px;
  width: 150px;
  overflow: hidden;
}
main .top .container-70 .card .product img {
  width: 100%;
}
main .bottom {
  background-color: #0282F9;
  justify-content: center;
  height: 150px;
}
main .bottom .img-wrap img {
  height: 3em;
}
main .bottom .text-wrap {
  font-size: 0.8em;
  padding: 0 1em;
  text-transform: uppercase;
}
main .load-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
main .load-wrap .load-more {
  margin: 0 auto;
  padding: 0.5em 2.5em;
  background-color: #0282F9;
}
main .load-wrap .load-more p {
  font-size: 0.8em;
  color: white;
  text-transform: uppercase;
}

.header-blue {
  background-color: #0282F9;
}
.header-blue-bar {
  padding: 0.2em 0;
  font-size: 0.8em;
  color: white;
}
.header-blue-bar .visa {
  width: 79%;
  display: inline-block;
  text-align: right;
  padding-right: 1em;
}
.header-blue-bar .additional {
  width: 20%;
  display: inline-block;
  text-align: right;
}

.header-nav {
  align-items: center;
  justify-content: space-between;
}

.header-nav .logo-container {
  padding: 0.5em;
  text-align: left;
  padding-left: 0.7em;
}

.header-nav-list ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header-nav-list ul li {
  padding: 0 0.5em;
}
.header-nav-list ul li a {
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 2em 0;
  border-bottom: 5px solid white;
}
.header-nav-list ul li a:hover, .header-nav-list ul li a:active, .header-nav-list ul li a.active {
  color: #0282F9;
  border-bottom: 5px solid #0282F9;
}

.header-nav-search {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 0.7em;
}
.header-nav-search .search-box {
  width: 60%;
  font-weight: bold;
  font-size: 0.9em;
  border-bottom: 2px solid #0282F9;
  justify-content: flex-end;
  align-items: center;
}
.header-nav-search .search-box p {
  display: inline-block;
  padding-right: 0.5em;
  padding-bottom: 0.3em;
}
.header-nav-search .search-box i {
  font-size: 1.4em;
}

.footer-top {
  background-image: url("../img/footer-bg.jpg");
}
.footer-top .container-80 {
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position-x: 80%;
  background-position-y: 50%;
}
.footer-top .container-80 .footer-col-left {
  width: 40%;
}
.footer-top .container-80 .footer-col-left .col {
  padding: 2em 0;
  width: 33.3333333333%;
}
.footer-top .container-80 .footer-col-left .col h3 {
  color: white;
  text-transform: uppercase;
  padding: 0.5em 0;
}
.footer-top .container-80 .footer-col-left .col ul {
  list-style-type: none;
}
.footer-top .container-80 .footer-col-left .col ul li {
  color: #717174;
  padding: 0.3em 0;
  font-size: 0.8em;
}
.footer-top .footer-col-left {
  width: 40%;
}
.footer-top .footer-col-left .col {
  padding: 2em 0;
  width: 33.3333333333%;
}
.footer-top .footer-col-left .col h3 {
  color: white;
  text-transform: uppercase;
  padding: 0.5em 0;
}
.footer-top .footer-col-left .col ul {
  list-style-type: none;
}
.footer-top .footer-col-left .col ul li {
  color: #717174;
  padding: 0.3em 0;
  font-size: 0.8em;
}

.j-center {
  justify-content: center;
}

.al-center {
  align-items: center;
}

.footer-bottom {
  background-color: #303030;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.footer-bottom .d-flex .footer-bottom-sx {
  width: 50%;
}
.footer-bottom .d-flex .footer-bottom-sx button {
  text-transform: uppercase;
  border: 1px solid #0282F9;
  background-color: #303030;
  font-weight: bold;
  color: white;
  padding: 1em;
  cursor: pointer;
}
.footer-bottom .d-flex .footer-bottom-dx {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.footer-bottom .d-flex .footer-bottom-dx h2 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #0282F9;
  padding: 0 1em;
}
.footer-bottom .d-flex .footer-bottom-dx ul {
  display: flex;
}
.footer-bottom .d-flex .footer-bottom-dx ul li {
  list-style-type: none;
  padding: 0.5em;
}