@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    font-family: "Raleway", sans-serif;
}
.w-20 {
    width: 20%;
}
.container-70 {
    width: 70%;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.d-flex {
    display: flex;
}