@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    font-family: "Raleway", sans-serif;
}
.p-absolute {
    position: absolute;
}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-50 {
    width: 50%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.container-55 {
    width: 55%;
    margin: 0 auto;
}
.container-70 {
    width: 70%;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.d-flex {
    display: flex;
    align-items: center;
}
.space-around {
    justify-content: space-around;
}
.jumbotron {
    height: 400px;
    width: 100%;
    background-image: url('../img/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    .current-series {
        position: absolute;
        bottom: -15px;
        left: 15%;
        background-color: $fontColor;
        padding: 0.5em 1em;
        p {
            text-transform: uppercase;
            color: white
        }
    }
};
main {
    color: white;
    .top {
        flex-direction: column;
        align-items: center;
        background-color: $cardsBg;
        .container-70 {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 2em;
                p {       
                    font-size: 1.3em;
                }
                .card {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    flex-basis: calc((100% / 6) - 0.4em);
                    .wrapper {
                        display: flex;
                        flex-direction: column;
                    };
                    h2 {
                        font-size: 0.5em;
                        text-transform: uppercase;
                        width: 150px;
                    };
                    .product {
                        margin: 0.2em;
                        height: 150px;
                        width: 150px;
                        overflow: hidden;
                        img {
                        width: 100%;
                        }
                    }
                }
        }
    }
    .bottom {
        background-color: $fontColor;
        justify-content: center;
        height: 150px;
        .img-wrap img {
            height: 3em;
        };
        .text-wrap {
            font-size: 0.8em;
            padding: 0 1em;
            text-transform: uppercase;
        }
    }
    .load-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 1em;
        .load-more {
            margin: 0 auto;
            padding: 0.5em 2.5em;
            background-color: $fontColor;
            p {
                font-size: 0.8em;
                color: white;
                text-transform: uppercase;
            }
        }
    }
}
